<?php

namespace {{ namespace }};

use JVG\MandrillBundle\Entity\MessageEntity;
use JVG\MandrillBundle\Model\MailableInterface;

class {{ className }} extends MessageEntity
{
{% for entity in entities %}
    /**
     * @var MailableInterface
     */
    private ${{ entity.fieldName }};
{% endfor %}

    /**
     * {@inheritdoc}
     */
    public function getEntity()
    {
{% for entity in entities %}
        if ($this->{{ entity.fieldName }} !== null) {
            return $this->{{ entity.fieldName }};
        }
{% endfor %}

        return null;
    }

    /**
     * {@inheritdoc}
     */
    public function setEntity(MailableInterface $mailable = null)
    {
{% for entity in entities %}
        if ($mailable !== null && is_a($mailable->getEntity(), '{{ entity.targetEntity }}')) {
            $this->{{ entity.fieldName }} = $mailable->getEntity();
        } else {
            $this->{{ entity.fieldName }} = null;
        }
{% endfor %}

        return $this;
    }
}
