{{ namespace }}\{{ className }}:
    type:                   entity
    table:                  jvg_mandrill_message_entity
    manyToOne:
{% for entity in entities %}
        {{ entity.fieldName }}:
            targetEntity:   {{ entity.targetEntity }}
            joinColumn:
                name:                   {{ entity.columnName }}
                referencedColumnName:   id
{% endfor %}
