{% macro messageInfo(id) %}
    <script type="text/javascript">
        require(['jquery', 'underscore', 'orotranslation/js/translator', 'oroui/js/modal', 'mandrill'],
            function($, _, __, Modal, M){
                var showMessage = function(res) {
                    var iframeId = 'message-frame';
                    var iframe = $('<iframe />', {
                        name: iframeId,
                        id: iframeId,
                        'class': "scrollable-container",
                        frameborder: 0,
                        marginwidth: 0,
                        marginheight: 0,
                        allowfullscreen: true,
                        width: '100%',
                        height: '98%'
                    });

                    var loader;
                    var showModal = new Modal({
                        title: __('Preview'),
                        content: '<div class="loading-content">' + __('Loading...') + '</div>',
                        okText: __('Ok'),
                        className: 'modal oro-modal-normal',
                        template: _.template('<% if (title) { %>' +
                                '<div class="modal-header">' +
                                '<% if (allowCancel) { %>' +
                                '<a class="close">×</a>' +
                                '<% } %>' +
                                '<h3><%- title %></h3>' +
                                '</div>' +
                                '<% } %>' +
                                '<div class="modal-body"><%= content %></div>'
                        )
                    });
                    showModal.open();
                    showModal.$content.append(iframe);
                    loader = showModal.$content.find('.loading-content');

                    loader.show();

                    iframe.one('load', function() {
                        loader.hide();
                    });

                    iframe.itemsManagerTable({ collection: res });
                };

                M.messages.info({'id': '{{ id }}'}, showMessage);
            }
        );
    </script>
{% endmacro %}

{% macro temporary() %}
    <script>
        $(function () {


            $('.dialog-form-renderer').click(function (e) {
                showMessage(this);
                e.preventDefault();
            });
        });
    </script>
{% endmacro %}