{% extends 'OroUIBundle:actions:update.html.twig' %}
{% form_theme form with [
    'OroFormBundle:Form:fields.html.twig', 'JVGMandrillBundle:Mandrill:fields.html.twig', 'OroTagBundle:Form:fields.html.twig'
]%}

{% set formAction = path('jvg_mandrill_choose')%}

{% block navButtons %}
    {{ UI.saveAndCloseButton('Send') }}
    {{ UI.buttonSeparator() }}
    {{ UI.cancelButton(path('jvg_mandrill_mandrill_templates')) }}
{% endblock navButtons %}

{% block pageHeader %}
    {% set title = 'Choose Template' %}
    {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}

{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'template-choose' %}

    {% set dataBlocks = [
        {
            'title': 'General',
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': [
                    form_row(form.template),
                    form_row(form.tags),
                    form_row(form.date),
                    form_row(form.accounts),
                ]
            }]
        }
    ] %}

    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
        }
    %}

    {{ parent() }}
{% endblock content_data %}
