<script type="text/html" id="template-message-result">
<div class="row-fluid form-horizontal">
    <div class="responsive-block">
    <% simpleItems = {'Name': name, 'State': state, 'Email': email, 'Sender': sender, 'Subject': subject, 'Opens': opens, 'Clicks': clicks, 'Template': template } %>
    <% if (typeof diag != "undefined") items.Diag = diag %>
    <% if (typeof bounce_description != "undefined") items.Bounce_description = bounce_description %>
    <% _.each(simpleItems, function(value, key) { %>
        <% if (value) { %>
            <div class="control-group">
                <label class="control-label"><%= key %></label>
                <div class="controls">
                    <div class="control-label">
                        <%= _.escape(value) %>
                    </div>
                </div>
            </div>
        <% } %>
    <% }) %>
    <% if (ts) { %>
        <div class="control-group">
            <label class="control-label">Timestamp</label>
            <div class="controls">
                <div class="control-label"><%= datetime %></div>
            </div>
        </div>
    <% } %>
    <% complexItems = {'Tags': tags, 'Resends': resends, 'Opens detail': opens_detail, 'Smtp events': smtp_events, 'Clicks detail': clicks_detail} %>
    <% if (typeof reject != "undefined") items.Reject = reject %>
    <% _.each(complexItems, function(item, name) { %>
        <% if ( _.size(item)) { %>
            <div class="control-group">
                    <label class="control-label"><%= name %></label>
                    <div class="controls">
                        <div class="control-label">
                            <% _.each(item, function(value, key) { %>
                                <% if (typeof value == "object") { %>
                                    <% _.each(value, function(subvalue, key) { %>
                                        <i><%= key %></i>: <%= _.escape(subvalue) %><br>
                                    <% }) %>
                                <% } else { %>
                                    <i><%= key %></i>: <%= _.escape(value) %><br>
                                <% } %>
                            <% }) %>
                        </div>
                    </div>
                </div>
        <% } %>
    <% }) %>
    </div>
</div>
</script>
