{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'JVGMandrillBundle::macros.html.twig' as M %}
{% oro_title_set({params : {"%subject%": entity.email} }) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexLabel': 'oro.email.entity_plural_label'|trans,
        'entityTitle': entity.email
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block stats %}
    <li>{{ 'Created'|trans }}: {{ breadcrumbs.entity.createdAt ? breadcrumbs.entity.createdAt|oro_format_datetime : 'N/A' }}</li>
{% endblock stats %}

{% block content_data %}
    {% set id = 'email-profile' %}
    {% set attributes = [
        UI.attibuteRow('oro.email.sent_at.label', entity.createdAt|oro_format_datetime),
        UI.attibuteRow('Email', entity.email)
    ] %}
    {% set info = M.messageInfo(entity.mandrillId) %}


    {% set data = {
        'dataBlocks': [
            {
                'title': 'General',
                'class': 'active',
                'subblocks': [
                    {
                        'title': null,
                        'useSpan': false,
                        'data': attributes
                    }
                ]
            },
            {
                'title': 'Info',
                'subblocks': [
                    {
                        'title': null,
                        'useSpan': false,
                        'data': info
                    }
                ]
            }
        ]
    } %}
    {{ parent() }}
{% endblock content_data %}
