{% import 'OroUIBundle::macros.html.twig' as UI %}
{% if entity.defaultContact is defined %}
{{ UI.editButton({
    'path': path('jvg_mandrill_index', {'email': entity.defaultContact.getPrimaryEmail()}),
    'label': 'Message to Client'
}) }}
{% endif %}